# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/
*.env
.venv/

University_regulations.pdf
students.csv
calendar_events.json
faiss_calendar_storage
faiss_regulations_storage

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3
*.db

# Cache and temporary files
*.tmp
*.swp

# Test coverage reports
htmlcov/
.coverage
*.coverage

# MyPy type-checking reports
.mypy_cache/

# MacOS-specific files
.DS_Store


.idea/